body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: antiquewhite;
}

h1 {
    color: #333;
}

.active {
    text-decoration: underline;
}

.d-flex {
    display: flex;
}

.jcc {
    justify-content: center;
}

.g1 {
    gap: 1rem;
}

li {
    list-style-type: none;

}

li>a {
    text-decoration: none;
    color: brown;
}