<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Component</title>
    <link rel="stylesheet" href="./css/page.css">
</head>
<body>
    <nav style="background-color: #003366; position: absolute; top: 0; width: 100%;">
        <ul style="list-style: none; display: flex; gap: 10px; padding: 0; justify-content: center; background-color: #003366; margin: 0;">
            <li><a href="./" style="color: white; text-decoration: none; padding: 10px;">Main</a></li>
            <li><a href="./thanks" style="color: white; text-decoration: none; padding: 10px;">Thanks</a></li>
            <li><a href="./contact" style="color: white; text-decoration: none; padding: 10px;">Contact</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <header>
            <h1>Book Component By Function</h1>
        </header>
        <div class="book">
            <div class="top">
                <div class="small-line">111111111111111111111111111</div>
                <div class="small-line">222222222111111111111111111</div>
                <div class="small-line">333333333111111111111111111</div>
                <div>KYLE SIMPSON</div>
            </div>
            <div class="middle">SCOPE & <br> CLOSURES</div>
            <div class="bottom">
                <div class="text">JS</div>
            </div>
        </div>
        <div class="author">By Kyle Simpson</div>
        <div class="description">
            Parts of the language that many JavaScript<br>
            programmers simply avoid.
        </div>
        <footer>
            2021 Tania
        </footer>
    </div>
</body>
</html>