<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple HTML Page</title>
  <style>
    * {
      box-sizing: border-box;
    }
    p {
      color: blue;
    }
  </style>
</head>

<body>
  <!-- use template -->
  <h1>{h1-heading}</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, corporis. Velit saepe esse praesentium ducimus
    veniam quae! Cupiditate, architecto accusamus.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti at cupiditate voluptatem recusandae error
    voluptatibus. Sit accusamus error laudantium impedit!
  </p>
</body>

</html>